{% extends 'base-front.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}

<h1>{{product.label}}</h1>
<a href="" class="btn btn-success">Ajouter au panier</a>


{% endblock %}