{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        {# {% include 'commons/_sidebar.html.twig' %} #}
        <div class="col py-3 text-light">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
