{% extends 'base-front.html.twig' %}

{% block title %}Hello ResetController!{% endblock %}

{% block body %}
    <h1 class="text-success">Compte supprimé avec succès</h1>
    <a href="{{path('app_homepage')}}">Accueil</a>
{% endblock %}
