{% extends 'base-front.html.twig' %}

{% block title %}Hello ResetController!{% endblock %}

{% block body %}
<h1>Inscription</h1>

    {{ form_start(resetPasswordForm) }}
        {{ form_row(resetPasswordForm.plainPassword) }}
       <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(resetPasswordForm) }}
{% endblock %}
